@using Entity.Concrete
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkımda Veri Listesi</h2>

<table class="table table-bordered">
    <tr>

        <th>#</th>
        <th>Hakkımda Başlığı</th>
        <th>Durum</th>
        <th>Aktif Yap</th>
        <th>Pasif Yap</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>@item.AboutId</td>
            <td>@item.AboutDatails1</td>
            <td>@item.Status</td>
            <td><a href="/About/ChangeStatusTrue/@item.AboutId" class="btn btn-warning">AktifYap</a></td>
            <td><a href="/About/ChangeStatusFalse/@item.AboutId" class="btn btn-danger">PasifYap</a></td>
            <td><a href="/About/DeleteAbout/@item.AboutId" class="btn btn-info">Sil</a></td>
        </tr>
    }

</table>

@Html.Action("AboutPartial", "About")