
@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
  
<h2>Can Gündoğdu</h2>
<address>
    <h6>Eğitim Durumu:</h6>
    Eskişehir Teknik Üniversitesi - Çevre Mühendisi(Yüksek Lisans)<br />
    <h6>Doğum Yeri:</h6>
    Üsküdar
</address>

