@using Entity.Concrete
@model List<Category>
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3>MVC Kamp Tablo Örneği - Kategori</h3>
<br />
<table class="table table-bordered">

    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Güncelle</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.CategoryId</td>
            <td>@item.CategoryName</td>
            <td>@item.CategortyDescription</td>
            <td>@item.CategoryStatus</td>
            <td><button class="btn btn-success">Güncelle</button></td>
        </tr>
    }

</table>
<br />
<a class="btn btn-info" href="/Category/AddCategory">Yeni Kategori Ekle</a>